
<meta charset="utf-8">

<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/ContactFrom_v1/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/ContactFrom_v1/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/ContactFrom_v1/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/ContactFrom_v1/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/ContactFrom_v1/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/ContactFrom_v1/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/ContactFrom_v1/css/util.css">
	<link rel="stylesheet" type="text/css" href="/ContactFrom_v1/css/main.css">
<!--===============================================================================================-->

<meta name="author" content="Marx JMoura">
<meta name="description" content="Create simple forms using basic elements.">
<title><%= pageTitle %></title>

<link rel="stylesheet" href="/stylesheets/loginpagestyle.css">
<div class="" align="center">
<div style="background-color: rgb(223, 235, 231);"><img src="/images/da1.png" style="margin:20px"></div>
  <div style="align-self: center;">

                    <% if(errorMessage) {%>
						<div  style="border: 1px solid red; padding: 30px; width: 50%; height: 60px; margin-bottom: 30px;" >
							<h5 style="font-size: 20px; margin-top:-12px; font-weight: bold; color:red; padding:auto; "><%= errorMessage %> </h5>
						</div>
					<% } else if(okMessage){%>
						<div  style="border: 1px solid #2e8cc2; padding: 30px; width: 50%; height: 60px; margin-bottom: 30px;" >
							<h5 style="font-size: 20px; font-weight: bold; margin-top:-12px; color:#2e8cc2; padding:auto; "><%= okMessage %> </h5>
						</div>
                    <%}%>

<h5 style="font-size: 16px; margin: 20px;">Enter your Email!</h5>
    <form action="/resetPassword" method="POST" style="align-self: center;">
        <input type="text" name="email" placeholder="Username" required="required" class="input-type-text" /><br>
        <input type="submit" name="submit" value="Send Reset Link" class="submit-type"/>
    </form>
</div>
</div>
