
<meta charset="utf-8">

<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/ContactFrom_v1/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/ContactFrom_v1/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/ContactFrom_v1/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/ContactFrom_v1/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/ContactFrom_v1/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/ContactFrom_v1/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/ContactFrom_v1/css/util.css">
	<link rel="stylesheet" type="text/css" href="/ContactFrom_v1/css/main.css">
<!--===============================================================================================-->

<meta name="author" content="Marx JMoura">
<meta name="description" content="Create simple forms using basic elements.">
<title><%= pageTitle %></title>

<link rel="stylesheet" href="/stylesheets/loginpagestyle.css">
<div class="" align="center">
<div style="background-color: rgb(223, 235, 231);"><img src="/images/da1.png" style="margin:20px"></div>
  <div style="align-self: center;">
 <%	if (errorMessage) { %>
            <div class="alert alert-danger alert-dismissible"  style=" text-align: center;">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <%= errorMessage %>
              </div>
        <% } else if(okMessage){%>
            <div class="alert alert-success alert-dismissible" style="width: 50%;text-align: center;;">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <%= okMessage %>
                                </div>
                            <%}%>
                    </div>
<h5 style="font-size: 16px; margin: 20px;">Enter your Email and Password! </h5>
    <form action="/" method="POST" style="align-self: center;">
  <input type="text" name="email" placeholder="Username" required="required" class="input-type-text" /><br>
  <input type="password" name="password" placeholder="Password" required="required" class="input-type-text" /><br>
  <input type="submit" name="submit" value="Login" class="submit-type"/>
</form>
<a href="/getForgotPassword">Forgot password? </a>
</div>
</div>
    